<section>
    <div class="container my-5">
        <div class="row gy-3">
            {{> account-nav}}
            <div class="col-lg-9 mb-4">
                <div class="acc-title">Favorilerim</div>

                <div class="cart-rows">
                    {{#each products}}
                    <div class="cart-row my-5">
                        <div class="cart-prd pb-5">
                            <div class="d-flex flex-row">
                                <div class="prd-image">
                                    <img src="{{this.img}}" alt="">
                                </div>
                                <div class="prd-body">
                                    <div class="prd-title">
                                        <a href="/product/{{this._id}}">
                                            <b>{{this.brand}}</b>
                                            {{this.name}}
                                        </a>
                                    </div>
                                    <div class="prd-info">
                                        <span>Satıcı : </span>
                                        <b><a href=""> allhere.com</a></b>
                                    </div>
                                    <div class="prd-info">
                                        <span>Tahmini Teslimat Süresi : </span>
                                        <b><a href=""> 28-30 Mart</a></b>
                                    </div>
                                    {{#if this.discount}}
                                    <div class="prd-amount my-3 "><b>{{this.discprice}} ₺</b></div>
                                    {{else}}
                                    <div class="prd-amount my-3 "><b>{{this.price}} ₺</b></div>
                                    {{/if}}

                                </div>
                                <div class="row">
                                    <div class="delete-prd">
                                        <form action="/account/favorilerim/{{this.idFavoritesItem}}?_method=DELETE"
                                            method="POST">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit" class="btn"><i
                                                    class="fa-solid fa-trash btn-icon"></i></button>
                                        </form>
                                    </div>
                                    <div id="addshopcart" class="delete-prd align-self-end">
                                        <form action="/users/addshopcart/favorilerim" method="POST">
                                            <input type="hidden" name="id" value="{{this._id}}">
                                            <div class="align-items-right">
                                                <button type="submit" class="btn"><i
                                                        class="fa-solid fa-shopping-cart btn-icon"></i></button>
                                            </div>

                                        </form>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
</section>